$test-g-bg-color:#B3C0D1;
.g-pd-10{
    padding: 10px;
}
.test-g-bg-color{
    background-color: #edeef1;
}
.w-200{
    width:200px;
}
.g-title{
    font-size: 1.2rem;
    font-weight: bold;
}
.g-t-b{
    margin: 5px 0;
}