<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smileshark.mapper.CarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smileshark.entity.Car">
        <id column="car_id" property="carId" />
        <result column="car_plate" property="carPlate" />
        <result column="model" property="model" />
        <result column="type" property="type" />
        <result column="color" property="color" />
        <result column="battery_capacity" property="batteryCapacity" />
        <result column="range" property="range" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        car_id, car_plate, model, type, color, battery_capacity, range, state
    </sql>

</mapper>
