<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smileshark.mapper.ChargingPileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smileshark.entity.ChargingPile">
        <id column="charging_pile_id" property="chargingPileId" />
        <result column="charging_station_id" property="chargingStationId" />
        <result column="name" property="name" />
        <result column="type_c" property="typeC" />
        <result column="type_v" property="typeV" />
        <result column="charging_gun_count" property="chargingGunCount" />
        <result column="power" property="power" />
        <result column="in_position" property="inPosition" />
        <result column="state" property="state" />
        <result column="detail" property="detail" />
        <result column="picture" property="picture" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        charging_pile_id, charging_station_id, name, type_c, type_v, charging_gun_count, power, in_position, state, detail, picture
    </sql>

</mapper>
