<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smileshark.mapper.ReservationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smileshark.entity.Reservation">
        <id column="reservation_id" property="reservationId" />
        <result column="charging_pile_id" property="chargingPileId" />
        <result column="user_id" property="userId" />
        <result column="start_time" property="startTime" />
        <result column="range" property="range" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        charging_pile_id, user_id, reservation_id, start_time, range, state
    </sql>

</mapper>
