<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smileshark.mapper.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smileshark.entity.Task">
        <id column="task_id" property="taskId" />
        <result column="operations_personnel_id" property="operationsPersonnelId" />
        <result column="charging_station_id" property="chargingStationId" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="plan_start_time" property="planStartTime" />
        <result column="plan_end_time" property="planEndTime" />
        <result column="fact_start_time" property="factStartTime" />
        <result column="fact_end_time" property="factEndTime" />
        <result column="details" property="details" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        task_id, operations_personnel_id, charging_station_id, name, type, plan_start_time, plan_end_time, fact_start_time, fact_end_time, details, state
    </sql>

</mapper>
