<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smileshark.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smileshark.entity.User">
        <id column="user_id" property="userId" />
        <result column="charging_card_id" property="chargingCardId" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="id_card" property="idCard" />
        <result column="car_count" property="carCount" />
        <result column="user_type" property="userType" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="account_type" property="accountType" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, charging_card_id, name, phone, id_card, car_count, user_type, account, password, account_type, state
    </sql>

</mapper>
